{% extends "base.html" %}

{% block content %}

<ol>
{% for link in object_list %}
	<form method="post" action="{% url 'vote' %}" class="vote_form">
	    <li>[{{ link.votes }}]
	    	{% csrf_token %}
	    	<input type='hidden' id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />
	    	<input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
	  		<button>+</button>
	    <a href="{% url 'link_detail' pk=link.pk %}">
	      <b>{{ link.title }}</b>
	    </a>
	    </li>
	</form>
{% endfor %}
</ol>

{% if is_paginated %}
	<ul class="pager">
		{% if page_obj.has_previous %}
	  <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">&larr; Older</a></li>
	  {% endif %}

	  {% if page_obj.has_next %}
	  <li class="next"><a href="?page={{ page_obj.next_page_number }}">Newer &rarr;</a></li>
	  {% endif %}
	</ul>
{% endif %}

<blockquote style="background-color: #ddd; padding: 4px; border-radius: 10px; margin: 10px 0; color: #666; font-size: smaller; text-shadow: rgba(255,255,255,0.8) 1px 1px 0;">
{{ randomquip.comment|truncatechars:140 }}
</blockquote>

{% endblock %}